
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
        <form action="/home/register" method="post">
            name:<input type="text" name="name" /><br />
            pass:<input type="text" name="password" /><br />
            <button type="submit">register</button>
        </form>
    </div>
</body>
</html>
