.a-page-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display:table;
}

.a-separator{
    height:0px;
    width:100%;
    border-bottom:1px solid #c7c7c7;
}


/*layout*/
.a-row{
    font-size:0px;
    clear:both;
}

.a-col-nopad.a-row{
    margin:0px 5px;
}

.a-row > *{
    font-size:14px;
    box-sizing:border-box;
    display:inline-block;
	float:left;
	position:relative;
    box-sizing:border-box;
    margin:5px;
}

.a-row > * > *{
    width:100%;
}

@media screen  and (min-width:1200px){

    .a-col-lg-hidden{ display:none; }

	.a-col-lg-5{ width:calc(5% - 10px); }

    .a-col-nopad-lg-5{ width:5%; margin:5px 0px !important;}

	.a-col-lg-10{ width:calc(10% - 10px); }

    .a-col-nopad-lg-10{ width:10%; margin:5px 0px !important;}
	
	.a-col-lg-15{ width:calc(15% - 10px); }

    .a-col-nopad-lg-15{ width:15%; margin:5px 0px !important;}

    .a-col-lg-20{ width:calc(20% - 10px); }

    .a-col-nopad-lg-20{ width:20%; margin:5px 0px !important;}
	
    .a-col-lg-25{ width:calc(25% - 10px); }

    .a-col-nopad-lg-25{ width:25%; margin:5px 0px !important;}
	
    .a-col-lg-30{ width:calc(30% - 10px); }

    .a-col-nopad-lg-30{ width:30%; margin:5px 0px !important;}

    .a-col-lg-33{ width:calc(33.33% - 10px); }

    .a-col-nopad-lg-33{ width:33.33%; margin:5px 0px !important;}

    .a-col-lg-35{ width:calc(35% - 10px); }

    .a-col-nopad-lg-35{ width:35%; margin:5px 0px !important;}

    .a-col-lg-40{ width:calc(40% - 10px); }

    .a-col-nopad-lg-40{ width:40%; margin:5px 0px !important;}

    .a-col-lg-45{ width:calc(45% - 10px); }

    .a-col-nopad-lg-45{ width:45%; margin:5px 0px !important;}

    .a-col-lg-50{ width:calc(50% - 10px); }

    .a-col-nopad-lg-50{ width:50%; margin:5px 0px !important;}

    .a-col-lg-55{ width:calc(55% - 10px); }

    .a-col-nopad-lg-55{ width:55%; margin:5px 0px !important;}

    .a-col-lg-60{ width:calc(60% - 10px); }

    .a-col-nopad-lg-60{ width:60%; margin:5px 0px !important;}

    .a-col-lg-65{ width:calc(65% - 10px); }

    .a-col-nopad-lg-65{ width:65%; margin:5px 0px !important;}

    .a-col-lg-70{ width:calc(70% - 10px); }

    .a-col-nopad-lg-70{ width:70%; margin:5px 0px !important;}

	.a-col-lg-75{ width:calc(75% - 10px); }

    .a-col-nopad-lg-75{ width:75%; margin:5px 0px !important;}

    .a-col-lg-80{ width:calc(80% - 10px); }

    .a-col-nopad-lg-80{ width:80%; margin:5px 0px !important;}

	.a-col-lg-85{ width:calc(85% - 10px); }

    .a-col-nopad-lg-85{ width:85%; margin:5px 0px !important;}

    .a-col-lg-90{ width:calc(90% - 10px); }

    .a-col-nopad-lg-90{ width:90%; margin:5px 0px !important;}

	.a-col-lg-95{ width:calc(95% - 10px); }

    .a-col-nopad-lg-95{ width:95%; margin:5px 0px !important;}

    .a-col-lg-100{ width:calc(100% - 10px); }
}

@media screen  and (min-width:960px) and (max-width:1200px){

    .a-col-md-hidden{ display:none; }

	.a-col-md-5{ width:calc(5% - 10px); }

    .a-col-nopad-md-5{ width:5%; margin:5px 0px !important;}

	.a-col-md-10{ width:calc(10% - 10px); }

    .a-col-nopad-md-10{ width:10%; margin:5px 0px !important;}
	
	.a-col-md-15{ width:calc(15% - 10px); }

    .a-col-nopad-md-15{ width:15%; margin:5px 0px !important;}

    .a-col-md-20{ width:calc(20% - 10px); }

    .a-col-nopad-md-20{ width:20%; margin:5px 0px !important;}
	
    .a-col-md-25{ width:calc(25% - 10px); }

    .a-col-nopad-md-25{ width:25%; margin:5px 0px !important;}
	
    .a-col-md-30{ width:calc(30% - 10px); }

    .a-col-nopad-md-30{ width:30%; margin:5px 0px !important;}

    .a-col-md-33{ width:calc(33.33% - 10px); }

    .a-col-nopad-md-33{ width:33.33%; margin:5px 0px !important;}

    .a-col-md-35{ width:calc(35% - 10px); }

    .a-col-nopad-md-35{ width:35%; margin:5px 0px !important;}

    .a-col-md-40{ width:calc(40% - 10px); }

    .a-col-nopad-md-40{ width:40%; margin:5px 0px !important;}

    .a-col-md-45{ width:calc(45% - 10px); }

    .a-col-nopad-md-45{ width:45%; margin:5px 0px !important;}

    .a-col-md-50{ width:calc(50% - 10px); }

    .a-col-nopad-md-50{ width:50%; margin:5px 0px !important;}

    .a-col-md-55{ width:calc(55% - 10px); }

    .a-col-nopad-md-55{ width:55%; margin:5px 0px !important;}

    .a-col-md-60{ width:calc(60% - 10px); }

    .a-col-nopad-md-60{ width:60%; margin:5px 0px !important;}

    .a-col-md-65{ width:calc(65% - 10px); }

    .a-col-nopad-md-65{ width:65%; margin:5px 0px !important;}

    .a-col-md-70{ width:calc(70% - 10px); }

    .a-col-nopad-md-70{ width:70%; margin:5px 0px !important;}

	.a-col-md-75{ width:calc(75% - 10px); }

    .a-col-nopad-md-75{ width:75%; margin:5px 0px !important;}

    .a-col-md-80{ width:calc(80% - 10px); }

    .a-col-nopad-md-80{ width:80%; margin:5px 0px !important;}

	.a-col-md-85{ width:calc(85% - 10px); }

    .a-col-nopad-md-85{ width:85%; margin:5px 0px !important;}

    .a-col-md-90{ width:calc(90% - 10px); }

    .a-col-nopad-md-90{ width:90%; margin:5px 0px !important;}

	.a-col-md-95{ width:calc(95% - 10px); }

    .a-col-nopad-md-95{ width:95%; margin:5px 0px !important;}

    .a-col-md-100{ width:calc(100% - 10px); }
}

@media screen  and (min-width:720px) and (max-width:960px){

    .a-col-sm-hidden{ display:none; }

	.a-col-sm-5{ width:calc(5% - 10px); }

    .a-col-nopad-sm-5{ width:5%; margin:5px 0px !important;}

	.a-col-sm-10{ width:calc(10% - 10px); }

    .a-col-nopad-sm-10{ width:10%; margin:5px 0px !important;}
	
	.a-col-sm-15{ width:calc(15% - 10px); }

    .a-col-nopad-sm-15{ width:15%; margin:5px 0px !important;}

    .a-col-sm-20{ width:calc(20% - 10px); }

    .a-col-nopad-sm-20{ width:20%; margin:5px 0px !important;}
	
    .a-col-sm-25{ width:calc(25% - 10px); }

    .a-col-nopad-sm-25{ width:25%; margin:5px 0px !important;}
	
    .a-col-sm-30{ width:calc(30% - 10px); }

    .a-col-nopad-sm-30{ width:30%; margin:5px 0px !important;}
	
    .a-col-sm-33{ width:calc(33.33% - 10px); }

    .a-col-nopad-sm-33{ width:33.33%; margin:5px 0px !important;}

    .a-col-sm-35{ width:calc(35% - 10px); }

    .a-col-nopad-sm-35{ width:35%; margin:5px 0px !important;}

    .a-col-sm-40{ width:calc(40% - 10px); }

    .a-col-nopad-sm-40{ width:40%; margin:5px 0px !important;}

    .a-col-sm-45{ width:calc(45% - 10px); }

    .a-col-nopad-sm-45{ width:45%; margin:5px 0px !important;}

    .a-col-sm-50{ width:calc(50% - 10px); }

    .a-col-nopad-sm-50{ width:50%; margin:5px 0px !important;}

    .a-col-sm-55{ width:calc(55% - 10px); }

    .a-col-nopad-sm-55{ width:55%; margin:5px 0px !important;}

    .a-col-sm-60{ width:calc(60% - 10px); }

    .a-col-nopad-sm-60{ width:60%; margin:5px 0px !important;}

    .a-col-sm-65{ width:calc(65% - 10px); }

    .a-col-nopad-sm-65{ width:65%; margin:5px 0px !important;}

    .a-col-sm-70{ width:calc(70% - 10px); }

    .a-col-nopad-sm-70{ width:70%; margin:5px 0px !important;}

	.a-col-sm-75{ width:calc(75% - 10px); }

    .a-col-nopad-sm-75{ width:75%; margin:5px 0px !important;}

    .a-col-sm-80{ width:calc(80% - 10px); }

    .a-col-nopad-sm-80{ width:80%; margin:5px 0px !important;}

	.a-col-sm-85{ width:calc(85% - 10px); }

    .a-col-nopad-sm-85{ width:85%; margin:5px 0px !important;}

    .a-col-sm-90{ width:calc(90% - 10px); }

    .a-col-nopad-sm-90{ width:90%; margin:5px 0px !important;}

	.a-col-sm-95{ width:calc(95% - 10px); }

    .a-col-nopad-sm-95{ width:95%; margin:5px 0px !important;}

    .a-col-sm-100{ width:calc(100% - 10px); }
}

@media screen  and (max-width:720px){

    .a-col-xs-hidden{ display:none; }

	.a-col-xs-5{ width:calc(5% - 10px); }

    .a-col-nopad-xs-5{ width:5%; margin:5px 0px !important;}

	.a-col-xs-10{ width:calc(10% - 10px); }

    .a-col-nopad-xs-10{ width:10%; margin:5px 0px !important;}
	
	.a-col-xs-15{ width:calc(15% - 10px); }

    .a-col-nopad-xs-15{ width:15%; margin:5px 0px !important;}

    .a-col-xs-20{ width:calc(20% - 10px); }

    .a-col-nopad-xs-20{ width:20%; margin:5px 0px !important;}
	
    .a-col-xs-25{ width:calc(25% - 10px); }

    .a-col-nopad-xs-25{ width:25%; margin:5px 0px !important;}
	
    .a-col-xs-30{ width:calc(30% - 10px); }

    .a-col-nopad-xs-30{ width:30%; margin:5px 0px !important;}
	
    .a-col-xs-33{ width:calc(33.33% - 10px); }

    .a-col-nopad-xs-33{ width:33.33%; margin:5px 0px !important;}

    .a-col-xs-35{ width:calc(35% - 10px); }

    .a-col-nopad-xs-35{ width:35%; margin:5px 0px !important;}

    .a-col-xs-40{ width:calc(40% - 10px); }

    .a-col-nopad-xs-40{ width:40%; margin:5px 0px !important;}

    .a-col-xs-45{ width:calc(45% - 10px); }

    .a-col-nopad-xs-45{ width:45%; margin:5px 0px !important;}

    .a-col-xs-50{ width:calc(50% - 10px); }

    .a-col-nopad-xs-50{ width:50%; margin:5px 0px !important;}

    .a-col-xs-55{ width:calc(55% - 10px); }

    .a-col-nopad-xs-55{ width:55%; margin:5px 0px !important;}

    .a-col-xs-60{ width:calc(60% - 10px); }

    .a-col-nopad-xs-60{ width:60%; margin:5px 0px !important;}

    .a-col-xs-65{ width:calc(65% - 10px); }

    .a-col-nopad-xs-65{ width:65%; margin:5px 0px !important;}

    .a-col-xs-70{ width:calc(70% - 10px); }

    .a-col-nopad-xs-70{ width:70%; margin:5px 0px !important;}

	.a-col-xs-75{ width:calc(75% - 10px); }

    .a-col-nopad-xs-75{ width:75%; margin:5px 0px !important;}

    .a-col-xs-80{ width:calc(80% - 10px); }

    .a-col-nopad-xs-80{ width:80%; margin:5px 0px !important;}

	.a-col-xs-85{ width:calc(85% - 10px); }

    .a-col-nopad-xs-85{ width:85%; margin:5px 0px !important;}

    .a-col-xs-90{ width:calc(90% - 10px); }

    .a-col-nopad-xs-90{ width:90%; margin:5px 0px !important;}

	.a-col-xs-95{ width:calc(95% - 10px); }

    .a-col-nopad-xs-95{ width:95%; margin:5px 0px !important;}

    .a-col-xs-100{ width:calc(100% - 10px); }
}
