.a-page-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display:table;
}

.a-separator{
    height:0px;
    width:100%;
    border-bottom:1px solid #c7c7c7;
}


/*layout*/
.a-row-container,
.a-row-no-pad-container{
    box-sizing:border-box;
    box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:justify;
    -moz-box-pack:justify;
    box-pack:justify;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    -ms-flex-pack:justify;
    -ms-flex-align:justify;
}

.a-row-container{
    padding:5px;
}

.a-row-no-pad-container{
    padding:0px;
}

.a-row-center{
    box-align:center;
    -moz-box-align:center;
    -webkit-box-align:center
}


.a-row-container > *,
.a-row-no-pad-container > *{
    box-sizing:border-box;
    display:block;
}
